#container-kwfe-widget-map-uruguay {
	position: relative;
}

#kwfe-widget-map-uruguay {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 0px;
	padding: 0px;
	position: relative;
}

#kwfe-widget-map-uruguay svg {
	fill: white;
	stroke: black;
	width: 100vw;
	position: relative;
}

.point-map {
	position: absolute;
	width: 30px;
	height: 30px;
}

.point-map * {
	fill: inherit !important;
	stroke: inherit !important;
}

.point-map .container-message {
	width: clamp(130px, 30vw, 500px);
	background: transparent;
	border-radius: 10px;
	padding: 10px;
	min-height: 180px;
	max-height: 220px;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
	transition: background .5s ease;
}

.point-map:hover .container-message {
	display: block; 
	background: skyblue;
}

/* Scrollbar completo */
.point-map::-webkit-scrollbar {
  width: 10px;
}

/* Fondo del track */
.point-map::-webkit-scrollbar-track {
  background: transparent;
}

/* La barrita que se mueve */
.point-map::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 10px;
}